@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  overflow-x: hidden;
}

.dark-mode {
  background-color: #1D1D1D;
}
.dark-mode nav img {
  content: url("../assets/light-mode.png");
}
.dark-mode .statistics-card {
  background-color: #343434 !important;
}
.dark-mode #mobile-dropdown a {
  color: #FFFFFF;
}
.dark-mode #mobile-dropdown button {
  background-color: #1D1D1D;
  border: 0;
}
.dark-mode #mobile-dropdown img {
  content: url("../assets/light-mode.png");
}
.dark-mode #race-container {
  background-color: #1D1D1D !important;
}
.dark-mode #race-container #race-selector {
  background-color: #343434 !important;
}
.dark-mode #race-container .fun-data {
  color: white;
}
.dark-mode #race-container #race-display {
  background-color: #343434;
}

header {
  background-color: #FF7F57;
  display: flex;
  height: 66px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
header #logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
  padding: 0 20px 0 0;
}
header nav {
  display: none;
}
header nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 300px;
  margin: 0 20px;
}
header nav img {
  background-color: #FF7F57;
  border: none;
  position: absolute;
  right: 25px;
  top: 17px;
}
header .mobile-menu img {
  width: 80%;
  height: auto;
}

#mobile-dropdown {
  display: none;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
#mobile-dropdown a {
  margin-top: 30px;
  text-decoration: none;
  color: black;
}
#mobile-dropdown button {
  position: absolute;
  left: 30px;
  background-color: #FFFFFF;
  border: none;
}
#mobile-dropdown img {
  content: url("../assets/dark-mode.png");
}

.statistics-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-top: 100px;
}
.statistics-container .statistics-card {
  min-width: 344px;
  min-height: 177px;
  border-radius: 10px;
  background-color: #1D1D1D;
  text-align: center;
}
.statistics-container .statistics-card .statistics-title {
  margin-top: 32px;
  color: #FF7F57;
  font-size: 18px;
  font-weight: 700;
}
.statistics-container .statistics-card .statistics-value {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 500;
}

#fun-fact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#fun-fact button {
  margin-top: 60px;
  min-width: 365px;
  color: #FFFFFF;
  background-color: #FF7F57;
  border: none;
  height: 23px;
}
#fun-fact .fun-container {
  display: flex;
  flex-direction: column;
  width: 772px;
  min-height: 200px;
  background-color: #EDEDED;
  margin-top: 20px;
  text-align: center;
}
#fun-fact .fun-container .fun-title {
  font-size: 17px;
  color: #FF7F57;
  margin: 32px 0;
}

#race-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 41px;
  max-width: 1600px;
  margin: auto;
  margin: 40px;
}
#race-container #race-selector {
  background-color: #1D1D1D;
  min-width: 350px;
  max-height: 765px;
  border-radius: 10px;
  padding: 21px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#race-container #race-selector ::-webkit-scrollbar {
  display: none;
}
#race-container #race-selector .head {
  display: flex;
  gap: 20px;
  min-height: 20px;
}
#race-container #race-selector .head .title {
  color: #FF7F57;
}
#race-container #race-selector .head .results {
  color: white;
}
#race-container #race-selector .filters {
  display: flex;
  gap: 10px;
  min-height: 20px;
}
#race-container #race-selector .filters select {
  width: 203px;
  background-color: #FF7F57;
  border: none;
  color: #1D1D1D;
  text-align: center;
}
#race-container #race-selector .race-list .race-item {
  color: white;
  border-bottom: 2px solid #FF7F57;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}
#race-container #race-selector .race-list .race-item .race-content {
  margin-left: 10px;
}
#race-container #race-selector .race-list :hover {
  background-color: #FF7F57;
}
#race-container #race-display {
  order: -1;
  background-color: #1D1D1D;
  min-width: 350px;
  max-width: 750px;
  height: 254px;
  border-radius: 10px;
  padding: 21px;
  color: white;
}

@media (min-width: 900px) {
  .mobile-menu {
    display: none;
  }

  header {
    justify-content: left;
  }
  header nav {
    display: block;
  }

  #race-container {
    flex-direction: row;
  }
  #race-container #race-display {
    order: 1;
  }
}

/*# sourceMappingURL=main.css.map */
