@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'themes.scss';


$orange: #FF7F57;
$light: #FFFFFF;
$dark: #1D1D1D;
$grey: #EDEDED;

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  overflow-x: hidden;
}

.dark-mode {
  @include dark-mode
}


header {
  background-color: $orange;
  display: flex;
  height: 66px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  #logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding: 0 20px 0 0;
  }

  nav {
    display: none;

    a {
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-weight: 300px;
      margin: 0 20px;
    }

    img {
      background-color: $orange;
      border: none;
      position: absolute;
      right: 25px;
      top: 17px;
    }
  }

  .mobile-menu {
    img {
      width: 80%;
      height: auto;
    }
  }
}

#mobile-dropdown {
  display: none;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  a {
    margin-top: 30px;
    text-decoration: none;
    color: black;
  }

  button {
    position: absolute;
    left: 30px;
    background-color: #FFFFFF;
    border: none;
  }

  img {
    content: url("../assets/dark-mode.png");

  }
}

.statistics-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-top: 100px;


  .statistics-card {
    min-width: 344px;
    min-height: 177px;
    border-radius: 10px;
    background-color: $dark;
    text-align: center;

    .statistics-title {
      margin-top: 32px;
      color: $orange;
      font-size: 18px;
      font-weight: 700;
    }

    .statistics-value {
      margin-top: 20px;
      color: $light;
      font-size: 50px;
      font-weight: 500;
    }
  }
}

#fun-fact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    margin-top: 60px;
    min-width: 365px;
    color: $light;
    background-color: $orange;
    border: none;
    height: 23px;
  }

  .fun-container {
    display: flex;
    flex-direction: column;
    width: 772px;
    min-height: 200px;
    background-color: $grey;
    margin-top: 20px;
    text-align: center;

    .fun-title {
      font-size: 17px;
      color: $orange;
      margin: 32px 0;
    }
  }
}

#race-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 41px;
  max-width: 1600px;
  margin: auto;
  margin: 40px;


  #race-selector {
    background-color: $dark;
    min-width: 350px;
    max-height: 765px;
    border-radius: 10px;
    padding: 21px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
      display: none;
    }

    .head {
      display: flex;
      gap: 20px;
      min-height: 20px;

      .title {
        color: $orange;
      }

      .results {
        color: white;
      }
    }

    .filters {
      display: flex;
      gap: 10px;
      min-height: 20px;

      select {
        width: 203px;
        background-color: $orange;
        border: none;
        color: $dark;
        text-align: center;
      }
    }

    .race-list {

      .race-item {
        color: white;
        border-bottom: 2px solid $orange;
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;

        .race-content {
          margin-left: 10px;
        }
      }

      :hover {
        background-color: $orange;
      }
    }
  }

  #race-display {
    order: -1;
    background-color: #1D1D1D;
    min-width: 350px;
    max-width: 750px;
    height: 254px;
    border-radius: 10px;
    padding: 21px;
    color: white;
  }
}

@media (min-width: 900px) {
  .mobile-menu {
    display: none;
  }

  header {
    justify-content: left;

    nav {
      display: block;
    }
  }

  #race-container {
    flex-direction: row;

    #race-display {
      order: 1;
    }
  }
}